*{margin: 0px; scroll-behavior: smooth;}

h1,h2,h3,p,span{
    font-family: 'Open Sans', sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: #502F7E;
}

/* Header */
.header{
    position: relative;
    height: 12vh;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 12;
    -webkit-box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.16);
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #section2 {
  padding-top: 12vh;
}

#header img{
    position: absolute;
    height: 12.5vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar{
    position: absolute;
    top: 50%;
    right: -7vw;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

#header .acessar{
    position: relative;
    text-align: center;
    color: #502F7E;
    margin-left: 5vh;
    font-size: 2vh;
}
#header .acessar:hover{
  cursor: pointer;
}
.acessar span{
    margin-left: 1vw;
}

.acessar .fa-sign-in-alt{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
} 
/* Header End */

/* Sections */
#section1{
    position: relative;
    height: 60%;
    width: 100%;
    background: linear-gradient(0deg, rgba(117,47,148,1) 0%, rgba(80,47,126,1) 100%);
    z-index: 11;
}
#section2{
    position: relative;
    height: 70%;
    width: 100%;
    background-color: white;
    z-index: 0;
}
#section3{
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #502F7E;
  z-index: 0;
}
#section4{
    position: relative;
    height: 60%;
    width: 100%;
    background-color: white;
    z-index: 11;
    background-attachment: fixed;
    background-size: cover;
}
/* Sections End */

/* Section1 */
#section1 .conteudo{
    position: relative;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#section1 .conteudo p{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    font-size: 5vh;
    text-align: center;
    color: white;
}

#section1 .conteudo .botoes{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section1 .conteudo .botao{
    position: relative;
    background-color:#32CD32;
    height: 7vh;
    width: 14vw;
    border-radius: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    -webkit-box-shadow: 0px 0px 42px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -16px rgba(0,0,0,0.75);
    cursor: pointer;
}

#section1 .conteudo .botao p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    color: white;
    width: 8vw;
}
/* Section 2 */
#section2 .conteudo{
  position: relative;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section2 .conteudo .text-box{
  position: absolute;
  width: 30vw;
  top: 50%;
  left: 20vw;
  transform: translate(-50%, -50%);
  font-size: 2.5vh;
  color: #752F94;
}
#section2 .conteudo .text-box h1{
  margin-bottom: 3vh;
}
#section2 .conteudo #iphone{
  position: absolute;
  height: 40vh;
  right: 0;
  bottom: -0.1vh;
  z-index: 15;
}
#section2 .conteudo #imac{
  position: absolute;
  height: 50vh;
  right: 10vw;
  bottom: 10vh;
  z-index: 14;
}
#section2 .conteudo #macbook{
  position: absolute;
  height: 40vh;
  right: 30vw;
  bottom: 5vh;
  z-index: 15;
}
/* Section 3 */
#section3 .conteudo{
  position: relative;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section3 .conteudo .text-box{
  position: absolute;
  width: 30vw;
  transform: translate(-50%, -50%);
  font-size: 2.5vh;
  color: white;
}
#section3 .conteudo #texto1{
  position: absolute;
  width: 30vw;
  top: 25vh;
  right: 0vw;
  transform: translate(-50%, -50%);
  font-size: 2.5vh;
  color: white;
  text-align: left;
}
#section3 .conteudo #texto2{
  position: absolute;
  width: 30vw;
  top: 25vh;
  left: 30vw;
  transform: translate(-50%, -50%);
  font-size: 2.5vh;
  color: white;
  text-align: left;
}
.vl {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 0.2vh solid white;
  height: 30vh;
}

/* section4 */
#section4 .conteudo{
    position: relative;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#section4 .conteudo .content-box{
  background-color: white;
  position: absolute;
  top: 40.5vh;
  left: 35vw;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 60vw;
  border-radius: 2vh;
  -webkit-box-shadow: 0px 28px 60px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 60px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 28px 60px -13px rgba(0,0,0,0.75);
}

#section4 .conteudo h1{
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
  color: #502F7E; 
}

.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    top: 35vh;
    left: 25%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    width: 70vw;
  }
  
  .col{
    width: 20vw;
    margin: 2vh;
    cursor: pointer;
    z-index: 6;
    position: relative;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon{
    font-size: 6vh;
    margin-bottom: 2vh;
  }

  .container{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 26vh;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 2.5vh;
  }
  
  .back{
    background: #502F7E;
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      background-color: #502F7E;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
      transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
      perspective: inherit;
      z-index: 6;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 3vh;
    margin-bottom: 2vh;
    position: relative;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }