*{margin: 0px; scroll-behavior: smooth;}

h1,h2,h3,p,span{
    font-family: 'Open Sans', sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: #502F7E;
}

/* Sections */
#section1{
    position: relative;
    height: 100%;
    width: 100%;
    background: rgb(134,44,138);
    background: linear-gradient(0deg, rgba(134,44,138,1) 0%, rgba(80,47,126,1) 100%);
    z-index: 11;
}
#section2{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #0f0f0f;
    z-index: 0;
}
#section3{
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #862C8A;
  z-index: 0;
}
/* Sections End */

/* Section 1 */
#section1 .conteudo{
    position: absolute;
    height: 100%;
    width: 100%;
}
#section1 .conteudo h1{
  width: 30vw;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 4vh;
}
.fa-times{
  position: absolute;
  font-size: 8vh;
  top: 5vh;
  right: 5vw;
  color: #0f0f0f;
  cursor: pointer;
}
#section1 .conteudo .botao{
    position: absolute;
    background-color: #0f0f0f;
    height: 7vh;
    width: 14vw;
    -webkit-box-shadow: 0px 0px 42px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -16px rgba(0,0,0,0.75);
    top: 65vh;
    left: 42vw;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.botao .botao-junto{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 7vh;
    width: 10vw;
}

.botao .botao-junto .fa-code{
    position: relative;
    color: white;
    left: 1vw;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
}

.botao .botao-junto span{
    position: relative;
    color: white;
    float: right;
    top: 50%;
    left: 2vw;
    transform: translate(-50%, -50%);
}
/* Floating animation */
.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}
/* Waves */
.waves {
    position:relative;
    width: 100%;
    height: 20vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    top: 80vh;
  }
  /* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

/* Section 2 */
#section2 .conteudo{
    position: absolute;
    height: 100%;
    width: 100%;
}

.equipe{
  position: absolute;
  height: 90%;
  width: 90%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
}

.item{
  background-color: white;
  height: 10vh;
  width: 5vw; 
  position: relative;
}

